.amplify-liveness-freshness-canvas {
  display: none !important;
}

.amplify-liveness-camera-module {
  z-index: -1;
}

.liveness-detector-check {
  z-index: -1;
}

body {
  background-image: url("./assets/gradient.png");
}

.amplify-liveness-cancel-container,
.amplify-liveness-toast--default {
  display: none;
}

.canvas {
  display: none;
}

.amplify-liveness-match-indicator {
}

/* .amplify-liveness-overlay  */

/* amplify-flex amplify-liveness-overlay amplify-liveness-instruction-overlay */

/* .amplify-liveness-instruction-overlay {
  display: none;
} */

.amplify-liveness-recording-icon-container {
  display: none;
}

/*  */
.amplify-liveness-video-anchor {
  /* aspect-ratio: 1.25 / 1 !important; */
  height: 100%;
}

.amplify-liveness-oval-canvas--mobile > * {
  width: 100%;
}
.amplify-liveness-toast--large {
  background-color: white;
}
.amplify-liveness-toast--large > div {
  color: black;
}

.amplify-liveness-toast__message {
  color: #c5c2c2 !important;
}

.amplify-liveness-toast__container > div {
  color: "#c5c2c2" !important;
}
