.amplify-liveness-freshness-canvas {
  display: none !important;
}

.amplify-liveness-camera-module {
  z-index: -1;
}

.liveness-detector-check {
  z-index: -1;
}

body {
  background-image: url("./assets/gradient.png");
}

.amplify-liveness-cancel-container,
.amplify-liveness-toast--default {
  display: none;
}

.canvas {
  display: none;
}

.amplify-liveness-recording-icon-container {
  display: none;
}

.amplify-liveness-video-anchor {
  height: 100%;
}

.amplify-liveness-oval-canvas--mobile > * {
  width: 100%;
}
.amplify-liveness-toast--large {
  background-color: white;
}
.amplify-liveness-toast--large > div {
  color: black;
}

.amplify-liveness-toast__message {
  color: black !important;
}

.amplify-liveness-camera-module {
  border: none !important;
}

.verifying-text {
  display: flex;
  justify-content: center;
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}
